INNOSCREAM_API_KEY=your_api_key
INNOSCREAM_BOT_TOKEN=your_bot_token
INNOSCREAM_CHANNEL_ID=your_channel_id
DATABASE_URL=sqlite+aiosqlite:///./db.sqlite3
INNOSCREAM_API_URL=http://localhost:8000
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
